body {
    background-color: #e2e8f0;
}

#layout-container {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

table {
    table-layout: fixed;
    width: 100%;
    max-width: 1500px;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding-left: 25px;
    border: 3px solid black;
}

#addBook {
    background-color: #4b5563;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }

  #addBook:hover {
    background-color: #9ca3af;
    transition: 0.4s;
}

.tableButton {
    border-radius: 10px;
    padding: 5px;
    min-height: 15px;
    min-width: 60px;
    border: none;
    background-color: #4b5563;
    color: #fff;
    margin: 10px;
}