body {
    background-color: #e2e8f0;
}

#layout-container {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

table {
    table-layout: fixed;
    width: 100%;
    max-width: 1500px;
    border-collapse: collapse;
    border: 3px solid black;
    text-align: left;
}

th,
td {
    padding-left: 25px;
}